<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Unsecure</title>
    </head>


    <body>
		<h1>👋🏻 {{ user.username }}</h1>
        <a href="/changeName">Change name</a>
        <table>
		<tr>
		<th style="text-align:left">Username: <td>{{user.username}} 
		</table>


        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>

        <h2>Your chirps</h2>

		{% for msg in msgs %}

		<i>From {{msg.source.username}} to {{msg.target.username}}</i></br>
		{{msg.content|safe}}
		</br>
		</br>

		{% endfor %}

        <h2>Send a chirp</h2>

        <form action='addMessage/' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            To:
            <select name="to">
            {% for user in users %}
                <option value="{{user.username}}">{{user.username}}</option>
            {% endfor %}
            </select><br/>

			<textarea name="content" cols="40" rows="5"></textarea><br/>
            <input type="submit" value="Send"/>
        </form>
		
        <h2>Your files</h2>

        <table>
		{% for file in uploads %}
		<tr>
		<td>
		{{file.name}}
		<td>
		<a href="download/{{file.id}}">Download</a>
		<td>
        <form action='delete/' method="POST">
			{% csrf_token %}
            <input type="hidden" name="id" value="{{file.id}}" />
            <input type="submit" value="Delete"/>
        </form>

		{% endfor %}
		</table>

        <h2>Add file</h2>

        <form action='add/' method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="file" name="file" id="file"/>
            <input type="submit" value="Add"/>
        </form>
    </body>


    </body>
</html>
